/* login*/
.inpt-div{
    display: flex;

}

body{

}

.label-email{
    position: absolute;
    top: 343px;
    font-family: 'Roboto Regular', arial;
    font-size: 16px;
    color: black;
}

.label-pass{
    position: absolute;
    top: 445px;
    font-size: 16px;
    color: black;
    font-family: 'Roboto Regular', arial;
}
.btn-meet{
    position: absolute;
    right: 40px;
    top: 50px;
}
.login-h1{
    padding-top: 150px;
    padding-bottom: 70px;
    padding-left: 75px;
    font-size: 26px;
    text-align: left;
}
.padding-row{
    margin-bottom: 20px;
}

.top-cover{
    margin-top: 60px;
}

.special-bot{
    margin-bottom: 100px;
}
.password-input{
    padding-top: 50px;
    padding-bottom: 75px;
}
.lost-p{
    padding-bottom: 20px;
    font-size: 26px;
    color: #3ab1d0;
}
.log-btn{
    font-size: 26px;
    background: #3ab1d0;
    border: none!important;
    min-width: 225px;
    min-height: 60px;
    color:white;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    letter-spacing: 0!important;
    margin: 0 0 0!important;
}

.all-items{
    width: 30%;
    text-align: center;
    padding-bottom: 200px;
}

.email-input{
    border: 1.5px solid #aaa0a0;
    /* padding: 0 75px 20px; */
    min-width: 350px;
    min-height: 50px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #383d41;
    background-color: white;
    border-color: #6c757d;
}
.btn-secondary:hover{
    color: #383d41;
    background-color: white;
    border-color: #6c757d;
}

/* Logout*/



.login-ass label{
    position: absolute;
    top: -25px;
    font-family: 'Roboto Regular', arial;

}


.login-ass{
    padding-bottom: 55px;
}
.assistance-h1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
}

.center{
    justify-content: center;
    padding-right: 275px;
}
.nemo-p{
    padding-bottom: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.submit-btn-assistance{
    padding-bottom: 55px;
}

.btn-assistance{
    font-size: 26px;
    background: #3ab1d0;
    border: none!important;
    min-width: 225px;
    min-height: 60px;
    color:white;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;

}
.setting-btn{
    width: 350px;
    color: #383d41;
    background-color: white;
    border-color: #6c757d!important;
    font-family: 'Montserrat', sans-serif;
}
.dropdown-toggle::after{
    margin-left: 10.255em;
}

.item-div-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-h1{
    font-size: 27px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}
.data-p-view{
    font-size: 24px;
    color:#1cadd4;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.content3{
    padding-top: 25px;
    padding-bottom: 100px;
}

.text-matches{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 15px;
}
.h2-ema{
    font-size: 20px;
    text-align: left;
    color:#352b33;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.total-hr{

    border-bottom: 2px solid #c9c9c9;
}
.p-undergirl{
    font-size: 17px;
    color: #352b33;
    font-family: 'Montserrat', sans-serif;
}
.img-bottoms{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-bottoms-profile{
    text-align: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 100px;
}

.my-profile-h1{
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 30px;
    color:#010210;
    font-weight: 600;
}

.label-profile,.label-profile-age{
    font-size: 16px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
}



.pad {
    padding-left: 6px;
    margin: 0 15px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #E9E9F0;
    width: 400px;
    background: transparent;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;

}

.label-profile{
    position: absolute;
    top:0;
    left: 20px;

}

.child{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.child-1{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.child-2{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.child-3,.child-4,.child-5,.child-6,.child-7,.child-8{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.area-child{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.btn-edit{
    text-align: left;
    padding-bottom: 75px;
}

.btn-profile{
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 8px;
    font-size: 17px;
    line-height: 18px;
    padding: 11px 20px;
    color: #fff;
    background: #3ab1d0;
    border: 2px solid #3ab1d0;
    min-width: 134px;
    cursor: pointer;
    -webkit-transition: background .3s, color .3s, border-color .3s;
    -o-transition: background .3s, color .3s, border-color .3s;
    transition: background .3s, color .3s, border-color .3s;
}
.label-profile-age{
    position: absolute;
    top: 0;
    left: 20px;
}
.view-pp{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.text-meet{
    text-align: center;
    background: #fafbfc;
}

.tt-left{
    text-align: left;
}
.myfixess{
    border: 1.5px solid #1cadd4;
}
.myfixess::-webkit-input-placeholder { color:#b1b1b1;font-weight:400;   font-family: 'Montserrat';}
.myfixess::-moz-placeholder { color:#b1b1b1;  font-weight:400;  font-family: 'Montserrat';}
.myfixess:-ms-input-placeholder { color:#b1b1b1; font-weight:400;   font-family: 'Montserrat';}
.myfixess:-moz-placeholder { color:#b1b1b1;  font-weight:400;   font-family: 'Montserrat';}


.pad::-webkit-input-placeholder { color:#716a70;font-weight:400;       font-family: 'Roboto Regular';;}
.pad::-moz-placeholder { color:#716a70;  font-weight:400;      font-family: 'Roboto Regular';;}
.pad:-ms-input-placeholder { color:#716a70; font-weight:400;       font-family: 'Roboto Regular';;}
.pad:-moz-placeholder { color:#716a70;  font-weight:400;       font-family: 'Roboto Regular';;}


.btn-searchs{
    background-color: #1cadd4;
    color: white!important;
    padding: 15px 20px!important;
    min-width: 150px!important;
    font-family: 'Montserrat', sans-serif;
}

.btn-searchs:hover{
    color: #3ab1d0;
    background: #fff;
    border-color: #3ab1d0;
}
.fix-rowss{
    border: none!important;

}
.meet-h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 29px;
    padding-top: 30px;
}
.data-meet{
    text-align: center;
    font-size: 27px;
    color:#1cadd4;
    padding-top: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.meet-img{
    text-align: center;
    background-color: #f0f3f5;
    padding: 5px;
}
.p-undergirl-meet{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 19px;
    color:#010210;
    margin: 0 0 5px;
}

.img-bottoms a img{
    width: 50px;
}
.fas .fa-map-marker-alt{
    margin: 0px 0px 0px -20px;
}

.collb{
    justify-content: center;
    background: #fafbfc;
    margin-right: 170px;
    margin-left: 170px;
    margin-top: 75px;
}
.moscow-p{
    margin: 0 0 5px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color:#010210;
}



@media (max-width: 1025px){
    .fix-cont{
        padding-left: 100px!important;
    }

    .tt-left{
        text-align: center;
        justify-content: center;
    }

    .img-bottoms-profile {
        text-align: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 25px;
         padding-left: 0;
    }
    .my-profile-h1 {
        text-align: center;

    }

    .btn-edit{
        text-align: center;
    }
    .fix-cont-ass{
        padding-left: 50px!important;
    }

    .center{
        padding-right: 0;
    }
    .bg-event{
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 769px){
    .label-email{
        top: 295px;
    }
    .fix-cont-ass{
        padding-left: 50px!important;
    }
    .label-pass{
        top: 395px;
    }
    .btn-meet {
        position: absolute;
        right: 5px;
        top: 50px;
    }
    .fix-cont{
        padding-left: 100px!important;
    }
}
@media (max-width:500px){
.assistance-h1{
    text-align: center;
    width: 100%;
}

    .collb{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 75px;
    }

    .data-meet,.view-pp{
        font-size: 19px;
    }
    .meet-h1{
        font-size: 23px;
    }

    .fix-cont{
        padding-left: 0px!important;
    }
    .fix-cont-ass{
        padding-left: 0!important;
    }

    .nemo-p{
        text-align: left;
        margin-left: 20px;
    }
.respons{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.submit-btn-assistance{
    text-align: center;
    width: 100%;
}

.btn-assistance{
    font-size: 26px;
    background: #3ab1d0;
    border: none!important;
    min-width: 190px;
    min-height: 50px;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


    .email-input{
        margin: 0 auto;
    }
    .label-email{
        left: 12px;
        top:285px;
    }
    .inpt-div{
        width: 100%;
    }


    .password-input{
        margin: 0 auto;
    }
    .label-pass{
        left: 12px;
        top:385px;
    }

    .all-items{
        text-align: center;
        width: 100%;
    }

}

@media (max-width:415px){
    .label-email {
        left: 32px;
    }
    .pad{
        width: 300px;
    }
    .btn-meet {
        position: absolute;
        right: 120px;
        top: 140px;
        /* text-align: -webkit-center; */
        text-align: center;
        width: 100%;
        margin: 0 auto;
        left: 0

    }
    .bg-event{
        min-height: 200px;
    }
    .label-pass {
        left: 32px;
    }
}
@media (max-width:340px){
    .dropdown-toggle::after {
        margin-left: 6.255em;
    }
    .setting-btn{
        min-width: 300px;
    }
    .email-input{
        min-width: 300px;
    }

    .btn-searchs {
        background-color: #1cadd4;
        color: white!important;
        padding: 15px 20px!important;
        min-width: 90px!important;
        font-family: 'Montserrat', sans-serif;
    }
    .log-btn {
        font-size: 24px;
        background: #3ab1d0;
        border: none!important;
        min-width: 200px;
        min-height: 50px;
        color: white;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 75px;
    }
}


/*Logout */


/* my event */

.bg-event{
    background: #f8f8f8;

}
.day-p{
color:#038b9b;
    font-size: 14px;
    margin-bottom: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.adress-p{
    font-size: 14px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.h2-duck{
    padding-top: 30px;
    font-size: 18px;
    color: #010107;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
}

.btn-event{
    position: absolute;
    top: 160px;
    right: 300px;
}

.meet-people{
    color: #fff;
    background: #3ab1d0;
    border: 2px solid #3ab1d0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 8px;
    font-weight: 300;
    /* font-size: 16px; */
    /* line-height: 18px; */
    padding: 11px 20px;
    min-width: 134px;
    cursor: pointer;
    -webkit-transition: background .3s, color .3s, border-color .3s;
    -o-transition: background .3s, color .3s, border-color .3s;
    transition: background .3s, color .3s, border-color .3s;
}
/* my event */